<% let pageId = 'blog'; %>
<% let filePath = jsonData.pages[pageId].filePath %>
<%- include('./../_inc/_header', {pageId: pageId }) %>

<main class="js-first-view l-main">

  <div class="c-heading inview">
    <h1 class="c-heading__main inview js-scroll--fadeUp">
      <span class="-en">ARTICLE</span>
      <span class="-ja">ブログ記事</span>
    </h1>
  </div>


  <section class="s-blog">

    <div class="container blog__wrap">

      <ul class="row blog__list">
        <li class="blog__item col-6__sm col-4__md">


          <a href="/blog/detail" class="inview">
            <figure class="c-picture__img blog__img">
              <picture class="c-picture__img--inner">
                <img src="/assets/images/banner/banner01.jpg" alt="">
              </picture>
            </figure>
          </a>

          <h3 class="index__heading--article">
            SNOOPY BOWLING COLLECTION 2021（株式会社ボウリングサービス）
          </h3>
          <div class="index__meta--work">
            <p class="-tag">
              ランディングページ
            </p>
            <p class="-date">2021.11.01</p>
          </div>
        </li>
        <li class="blog__item col-6__sm col-4__md">
          <a href="/blog/detail" class="inview">
            <figure class="c-picture__img blog__img">
              <picture class="c-picture__img--inner">
                <img src="/assets/images/banner/banner02.jpg" alt="">
              </picture>
            </figure>
          </a>

          <h3 class="index__heading--article">
            SNOOPY BOWLING COLLECTION 2021（株式会社ボウリングサービス）
          </h3>

          <div class="index__meta--work">
            <p class="-tag">
              ランディングページ
            </p>
            <p class="-date">2021.11.01</p>
          </div>
        </li>
        <li class="blog__item col-6__sm col-4__md">

          <a href="/blog/detail" class="inview">
            <figure class="c-picture__img blog__img">
              <picture class="c-picture__img--inner">
                <img src="/assets/images/banner/banner03.jpg" alt="">
              </picture>
            </figure>
          </a>

          <h3 class="index__heading--article">
            SNOOPY BOWLING COLLECTION 2021（株式会社ボウリングサービス）
          </h3>

          <div class="index__meta--work">
            <p class="-tag">
              ランディングページ
            </p>
            <p class="-date">2021.11.01</p>
          </div>

        </li>
        <li class="blog__item col-6__sm col-4__md">


          <a href="/blog/detail" class="inview">
            <figure class="c-picture__img blog__img">
              <picture class="c-picture__img--inner">
                <img src="/assets/images/banner/banner04.jpg" alt="">
              </picture>
            </figure>
          </a>

          <h3 class="index__heading--article">
            SNOOPY BOWLING COLLECTION 2021（株式会社ボウリングサービス）
          </h3>

          <div class="index__meta--work">
            <p class="-tag">
              ランディングページ
            </p>
            <p class="-date">2021.11.01</p>
          </div>

        </li>
      </ul>


    </div>
  </section>

</main>

<%- include('./../_inc/_footer', {pageId: pageId })  %>
