<% let pageId = 'about'; %>
<% let filePath = jsonData.pages[pageId].filePath %>
<%- include('./../_inc/_header', { pageId: pageId }) %>

<main class="js-first-view l-main">

  <div class="c-heading inview">
    <h1 class="c-heading__main inview js-scroll--fadeUp">
      <span class="-en">ABOUT</span>
      <span class="-ja">私について</span>
    </h1>
  </div>



  <section class="p-about">

    <div class="p-about__inner">



      <div class="container p-about__wrap">
        <div class="row items-center justify-center">

          <div class="p-about__head u-dp-pc">
            <figure class="c-picture__img p-about__img inview">
              <picture class="c-picture__img--inner">
                <img src="/assets/images/profile_01.png" alt="about_01">
              </picture>
            </figure>
          </div>

          <div class="p-about__body">

            <h2 class="p-about__heading">
              <span class="-en animate-heading">わたしについて</span>
              <span class="-ja animate-heading">S.TANABE</span>
            </h2>
            <div class="inview js-scroll--fadeUp">

              <div class="u-dp-sp">
                <figure class="c-picture__img p-about__img inview">
                  <picture class="c-picture__img--inner">
                    <img src="/assets/images/profile_01.png" alt="about_02">
                  </picture>
                </figure>
              </div>


              <div class="p-about__txt">
                <!-- <p class="-name"><strong>NAME：S.TANABE</strong></p> -->
                <p class="-intro">
                  28歳、フリーター、前職はWEB制作会社でアルバイトをしていました。<br />
                  27歳で人より優れた点がまったくないことに気づき、窮鼠猫を噛む思いで勉強中、毎日焦燥感が凄いです。<br />
                  現在の目標はfigma、Reactを使用してスマホアプリを作成することです。そのために現在JavaScriptについて学習中。<br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div><!-- p-about__inner -->


  </section><!-- p-about -->


  <section class="p-skill">

    <div class="p-skill__inner">


      <h2 class="index__heading inview">
        <span class="-en animate-heading">SKILL</span>
        <span class="-ja animate-heading">できること</span>
      </h2>


      <div class="inview js-scroll--slideLeft">

        <div class="swiper-container c-slider js-index-slider">



          <div class="swiper-wrapper c-slider__wrap">
            <div class="swiper-slide c-slider__slide">
              <figure class="c-picture__img p-skill__img">
                <picture class="c-picture__img--inner">
                  <img src="/assets/images/skill/html.png" alt="skill_01">
                </picture>
              </figure>
              <p class="p-skill__txt">
                photoshop、figmaのデザインカンプからレスポンシブコーディングを行った経験があります。開発環境はSass, Ejs, Gulp, GITを使用しています。
              </p>
            </div>
            <div class="swiper-slide c-slider__slide">
              <figure class="c-picture__img p-skill__img">
                <picture class="c-picture__img--inner">
                  <img src="/assets/images/skill/js.png" alt="skill_02">
                </picture>
              </figure>
              <p class="p-skill__txt">
                ウェブサイトの動的パーツやスクロールアニメーションの実装が可能です。matchheight, Swiper, fancybox等のプラグインをよく使用します。
              </p>
            </div>
            <div class="swiper-slide c-slider__slide">
              <figure class="c-picture__img p-skill__img">
                <picture class="c-picture__img--inner">
                  <img src="/assets/images/skill/wp.png" alt="">
                </picture>
              </figure>
              <p class="p-skill__txt">
                WordPressのオリジナルテーマが作成ができます。既存サイトのCMS化や、テーマを利用した制作も可能です。
              </p>
            </div>
            <div class="swiper-slide c-slider__slide">
              <figure class="c-picture__img p-skill__img">
                <picture class="c-picture__img--inner">
                  <img src="/assets/images/skill/ps.png" alt="skill_03">
                </picture>
              </figure>
              </p>
              <p class="p-skill__txt">
                デザインカンプからCSSの取得や画像の書き出し、リサイズといった基本操作ができます。
                また画像の切抜きや合成、色味調整が可能です。
              </p>
            </div>
            <div class="swiper-slide c-slider__slide">
              <figure class="c-picture__img p-skill__img">
                <picture class="c-picture__img--inner">
                  <img src="/assets/images/skill/tool.png" alt="skill_04">
                </picture>
              </figure>
              <p class="p-skill__txt">
                jquery、ES6によるDOM操作、IntersectionObserverやjquery.inviewを使用したスクロールアニメーションの実装が可能です。
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container index__foot">
        <div class="row justify-center">

          <div class="col-6__sm index__column--slidebtn">
            <div class="swiper-button-prev index__btn--slider index__btn--sliderPrev js-slider-btnPrev"></div>
            <div class="swiper-button-next index__btn--slider index__btn--sliderNext js-slider-btnNext"></div>
          </div>
        </div>

      </div>



    </div>

  </section>




</main>

<%- include('./../_inc/_footer', { pageId: pageId }) %>
