.index {

  &__inner {
    position: relative;
    // overflow: hidden;
    @include maxWidth($width);
    padding: 0 15px;
    @include mq-target(lg) {
      padding: 0 4%;
    }

    &--about {
      padding: 100px 15px 0;

      @include mq-target(sm) {
        padding: 100px 15px 90px;
      }
    }

  }

  &__body {

    &--work {
      padding: 10px;
      text-align: left;

      p {
        font-size: 1.3rem;
      }
    }
  }

  &__column {
    &--slidebtn {
      display: none;

      @include mq-target(sm) {
        @include flex($justify:center);
      }
    }
  }

  &__slide {
    &--other {
      a {
        display: block;
        position: relative;
        overflow: hidden;
        @include mq(md) {
          box-shadow: 2px 4px 32px 0 rgb(0 0 0 / 56%);
          border-radius: 12px;
        }
      }

    }
  }

  &__img {
    // border-radius: 4px;
    margin: 0 0 16px;
    box-shadow: $box-shadow-light-2;
    &::before {
      padding-top: 56%;
    }
  }

  &__heading {
    &--other {
      position: relative;
      @include absCenter;
      color: $color-bg;
      z-index: 2;
      font-weight: 500;

      &>span {
        display: block;
      }

      & .-ja {
        font-size: 1.4rem;
      }

      & .-en {

        text-transform: uppercase;
        overflow: hidden;
        margin: 12px 0 0;
        font-size: 2.6rem;
      }
    }
  }

  &__btn {
    &--slider {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid $color-sub;
      right: initial;
      left: initial;

      &::after {
        content: "";
        width: 10px;
        height: 10px;
        @include bgCover;

      }

      &Prev {
        &::after {
          background-image: url(./../../assets/images/SVG/arrow/arrow-left.svg);
        }
      }

      &Next {
        margin-left: 4px;

        &::after {
          background-image: url(./../../assets/images/SVG/arrow/arrow-right.svg);
        }
      }
    }
  }

  &__foot {
    margin: 30px 0 50px;
    max-width: 100%;

    a {
      position: relative;
      padding: 20px 0;
      @include flex($justify:center, $align:center);
      text-transform: uppercase;
      font-size: 1.4rem;
      transition: transform .6s ease;
      color: $color-main;

      &:hover,
      &:active {
        opacity: 0.5;

        .-btn::after {
          transform: rotate(90deg);
        }
      }

      & .-btn {
        width: 26px;
        height: 24px;
        cursor: pointer;
        margin-right: 20px;
        position: relative;
        display: inline-block;
        top: -1px;

        &::before,
        &::after {
          content: "";
          position: absolute;
          background: $color-sub;
          display: block;
        }

        &::before {
          height: 1px;
          width: 100%;
          top: 50%;
        }

        &::after {
          width: 1px;
          height: 100%;
          left: 50%;
          transition: all .3s ease;
        }


      }
    }
  }
}



.index__heading {
  overflow: hidden;
  position: relative;
  text-align: left;
  z-index: 1;
  // font-feature-settings: "palt";
  color: $color-sub;
  margin: 0 0 30px;
  // padding: 0 calc((100vw - 1440px) / 2);

  @include mq(md) {
    margin: 80px 0 20px;
  }

  &::after {
    content: "";
    @include absolute($top:27%, $left:0);
    width: 0;
    // transform: translateY(-50%);
    height: 1px;
    background: hsla(0, 0%, 100%, 0.09);
    transition: all 1s ease;
    // transition-delay: .4s;

    @include mq(xs) {
      top: 14%;
    }
  }

  &.is-anim {
    &::after {
      width: 100%;
    }
  }

  & .-ja {
    display: block;
    // margin: 4px 0 0;
    padding: 14px 20px 0 0;
    color: $color-main;
    letter-spacing: 1px;
    font-size: 1.3rem;
  }

  & .-en {
    position: relative;
    z-index: 10;
    background: $color-bg;
    display: inline-block;
    padding: 0 20px 0 0;
    // text-transform: uppercase;
    font-size: 2rem;
    // text-transform: lowercase;

    @include mq(xs) {
      font-size: 1.8rem;
    }
  }
}
