.p-skill {

  &__inner {
    position: relative;
  }

  &__list {
    @include maxWidth(1140px);
    margin-top: 80px;
    @include flex($wrap:wrap, $justify:space-between);

    padding: 20px 15px 50px;


    @include mq(md) {
      padding: 0 20px;
    }
  }

  &__item {
    width: 300px;
  }

  &__img {
    overflow: visible;
    // animation: fluidrotate 30s ease 0s infinite;
    background: $color-sub;
    border-radius: 12%;
    width: 280px;
    height: auto;
    margin: auto;

    @include mq-target(sm) {
      width: 150px;
      height: 150px;
    }
  }



  &__txt {
    margin: 10px 0 0;
    font-weight: 500;
    border-top: $line;
    font-size: 1.4rem;
    letter-spacing: .1em;
    padding: 10px;
    text-align: left;
  }
}
