.c-heading {
  margin: 80px 0 64px;
  position: relative;
  padding: 30px 4% 34px;
  @include mq-target(md) {
    margin: 130px 0 64px;
  }

  @include mq-target(lg) {
    margin: 64px 0;
    text-align: left;
    position: relative;
  }


  &::before {
    content: "";
    border-bottom: $border-light-1;
    @include absolute($top:0,$left:0);
    overflow: hidden;
    width: 0;
    height: 100%;
    z-index: -1;
  }

  &.inview {
    &.c-heading::before {
      width: 100%;
      @include animation($name: kf-animate-width,
      $duration: 2s,
      $timing-function: cubic-bezier(0.360, 0.100, 0.160, 1.000),
      $fill-mode: both);
    }
  }

  &__main {
    margin: 0;
    color: $color-sub;
    transition-delay: .4s;
    .-en {
      text-transform: uppercase;
      display: block;
      // font-weight: 700;
      font-size: 2.4rem;
      letter-spacing: 0.05em;
      @include mq(xs) {
        font-size: 2.4rem;
      }
    }

    .-ja {
      margin: 8px 0 0;
      font-size: 1.4rem;
      display: block;
      @include mq(xs) {
        font-size: 1.2rem;
      }
    }
  }
}


@keyframes kf-animate-width {
  0% {
    width: 0px;
  }

  100% {
    width: 100%;
  }
}
