.c-heading {
  margin: 64px 0;
  position: relative;
  padding: 30px 0 34px;

  &::before {
    content: "";
    border-bottom: 1px solid $color-main;
    @include absolute($top:0,$left:0);
    overflow: hidden;
    width: 0;
    height: 100%;
    z-index: -1;
  }

  &.is-anim {
    &.c-heading::before {
      width: 100%;
      animation: kf-animate-width 1.4s 1 ease;
    }
  }

  &__main {
    margin: 0;
    color: $color-sub;
    transition-delay: .4s;
    .-en {
      display: block;
      font-weight: 700;
      font-size: 4rem;
      letter-spacing: 0.05em;
    }

    .-ja {
      font-size: 1.4rem;
      display: block;
    }
  }
}


@keyframes kf-animate-width {
  0% {
    width: 0px;
  }

  100% {
    width: 100%;
  }
}
